@model MyInventory.Models.Order_Master
@using MyInventory.Models

@{
    ViewBag.Title = "Manage Orders";
}

@using (Html.BeginForm("Create", "Orders", FormMethod.Post, new { id = "form1" }))
{
    @Html.AntiForgeryToken()
    HtmlHelper.ClientValidationEnabled = false;

    <div class="row">
        <div class="col-md-10">
            <div class="card ">
                <div class="card-header card-header-icon" data-background-color="purple">
                    <i class="material-icons">shopping_cart</i>
                </div>
                <div class="card-content">
                    <h4 class="card-title">Create new Order</h4>

                    <div class="row">
                        <div class="col-md-12">
                            @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Order No</label>
                                        @Html.EditorFor(model => model.Order_No, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @Value = ViewBag.OrderNo } })

                                        @Html.ValidationMessageFor(model => model.Order_No, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">User</label>
                                        @Html.EditorFor(model => model.UserId, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @Value = User.Identity.Name } })

                                        @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Create Date</label>
                                        @Html.EditorFor(model => model.CreatedDate, new { htmlAttributes = new { @class = "form-control datepicker", @readonly = "readonly", @Value = DateTime.Now.ToShortDateString() } })
                                        @Html.ValidationMessageFor(model => model.CreatedDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Comments</label>
                                        @Html.EditorFor(model => model.Comments, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card">
                                                <div class="card-header " data-background-color="rose">
                                                   <h6 class="card-title" style="padding:0px">Line Items</h6>
                                                </div>
                                                <div class="card-content">
                                                   
                                                    <div class="row">
                                                        <div class="col-md-11" id="details">
                                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                            <div class="row">
                                                                <div class="col-md-2">
                                                                    <div class="form-group">
                                                                        <label class="bmd-label-floating">Line No</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <label class="bmd-label-floating">Product</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <div class="form-group">
                                                                        <label class="bmd-label-floating">Qty</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <div class="form-group">
                                                                        <label class="bmd-label-floating">Unit Price</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <label class="bmd-label-floating">Amount</label>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            @*@foreach (var OrderDetails in Model.Order_Details)
                    {
                        Html.RenderPartial("OrderDetails", OrderDetails);
                    }*@
                                                            @{Html.RenderAction("OrderDetails");}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-footer">
                                                    <div class="stats">
                                                        <input type="button" class="btn btn-rose " value="Add new row" id="Add" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary pull-left"> <i class="material-icons">done</i>Save</button>
                                        <a class="btn btn-primary pull-right" href="/orders">
                                            <i class="material-icons">keyboard_backspace</i>
                                            Back to List
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
    </div>


}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        var i = 1;
        $("#Add").click(function () {
            $.ajax({
                url: '/orders/orderDetails',
                data: { i: i },
                success: function (data) {
                    $("#details").append(data);
                }
            })
            i++;
        })

        $('#delete').click(function () {
            var container = $(this).closest('#details.index');
           
        });

        
    </script>
}