@model IEnumerable<MyInventory.Models.Order_Master>

@{
    ViewBag.Title = "Manage Orders";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-icon" data-background-color="purple">
                <i class="material-icons">shopping_cart</i>
            </div>
            <div class="card-content">
                <h4 class="card-title">Orders List</h4>
                <a href="/orders/create" class="navbar-right" style="margin-top:-40px;">
                    <i class="material-icons">add</i>
                    Add New Record
                </a>
                @*<div class="toolbar">

            </div>*@
                <div class="material-datatables">
                    <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                        <thead class="text-rose text-dark">
                            <tr>
                                <th>
                                    Order Number
                                </th>
                                <th>
                                    Created By
                                </th>
                                <th>
                                    Comments
                                </th>
                                <th>
                                    Created Date
                                </th>
                                <th class="text-right">
                                    Total Amount
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tfoot class="text-rose text-dark">
                            <tr>
                                <th>
                                    Order Number
                                </th>
                                <th>
                                    Created By
                                </th>
                                <th>
                                    Comments
                                </th>
                                <th>
                                    Created Date
                                </th>
                                <th class="text-right">
                                    Total Amount
                                </th>
                                <th></th>
                            </tr>
                        </tfoot>
                        <tbody>

                            @foreach (var item in Model)
        {
                    <tr>
                        <td>
                            <a rel="tooltip" title="View Details" href="/orders/details/@item.Id">
                                @item.Order_No
                            </a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Comments)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedDate)
                        </td>
                        <td class="text-right">
                            @(item.Order_Details.Sum(s => (s.UnitPrice) * (s.Quantity)).ToString("C"))
                        </td>
                        <td class="td-actions text-right">
                            @*<a rel="tooltip" title="Edit Details" class="btn btn-primary btn-link btn-sm" href="/orders/edit/@item.Id">
                <i class="material-icons">edit</i>
            </a>
            <a rel="tooltip" title="Delete Record" class="btn btn-danger btn-link btn-sm" href="/orders/delete/@item.Id">
                <i class="material-icons">close</i>
            </a>*@

                        </td>
                    </tr>
}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

