@model MyInventory.Data.Notification

@{
    ViewBag.Title = "Notifications";
}

<div class="row">
    <div class="col-md-10">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Notification Details</h4>
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-md-8">
                        @Html.HiddenFor(model => model.Notification_ID)
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Notificatio For</label>
                                    @Html.EditorFor(model => model.Notification_To, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Notification</label>
                                    @Html.EditorFor(model => model.Notification1, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Type</label>
                                    @Html.EditorFor(model => model.Notification_Type, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Read?</label>
                                    @Html.DisplayFor(model => model.Is_Read)
                                </div>
                            </div>
                        </div>
                        <ul class="nav">
                            <li class="nav-item active">
                                <a class="btn btn-primary" href="/Notifications">
                                    <i class="material-icons">keyboard_backspace</i>
                                    Back to List
                                </a>
                            </li>
                        </ul>
                    </div>                    
                </div>
            </div>
        </div>
    </div>

</div>
