@model IEnumerable<MyInventory.Data.Notification>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Notification_To)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notification1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Is_Read)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notification_Type)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Notification_To)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notification1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Is_Read)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notification_Type)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Notification_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Notification_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Notification_ID })
        </td>
    </tr>
}

</table>
