@model MyInventory.Models.Item_Master

@{
    ViewBag.Title = "Manage Products";
}


<div class="row">
    <div class="col-md-10">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Delete Product</h4>
                <p class="card-category"> Are you sure you want to delete this product?</p>

            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-md-8">
                        @Html.HiddenFor(model => model.Item_ID)
                        
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Product ID</label>
                                        @Html.EditorFor(model => model.Item_ID, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Product Name</label>
                                        @Html.EditorFor(model => model.Item_Name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Description</label>
                                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Unit of Measure</label>
                                        @Html.EditorFor(model => model.UOM.Description, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Category</label>
                                        @Html.EditorFor(model => model.Item_Category.Cat_Name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    </div>
                                </div>
                            </div>
                            <ul class="nav">
                                <li class="nav-item active">
                                    <a class="btn btn-primary" href="/items">
                                        <i class="material-icons">keyboard_backspace</i>
                                        Back to List
                                    </a>
                                </li>
                                <li class="nav-item active">

                                    @using (Html.BeginForm())
    {
                                @Html.AntiForgeryToken()
                                <button type="submit" class="btn btn-danger pull-right"> <i class="material-icons">close</i>Delete</button>
}
                                    <div class="clearfix"></div>
                                </li>
                            </ul>
                    </div>

                    <div class="col-md-4">
                        <br /><br />
                        <div class="card card-profile">
                            <div class="card-body">
                                <h4 class="card-title">Product Image</h4>
                                <img class="img" src="~/Content/img/products/marc.jpg" style="width:250px;height:auto;" />
                                @*<a href="#pablo" class="btn btn-primary btn-round">Change Image</a>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
