@model MyInventory.Data.Item_Master

@{
    ViewBag.Title = "Manage Products";
}

<h2>Details</h2>

<div>
    <h4>Product Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Item)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item_Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item_Category.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item_Category.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UOM.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UOM.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Item_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
