@model MyInventory.Models.Item_Master
@{
    ViewBag.Title = "Manage Products";
}

@using (Html.BeginForm("Edit", "Items", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header card-header-icon" data-background-color="purple">
                    <i class="material-icons">apps</i>
                </div>
                <div class="card-content">
                    <h4 class="card-title">Edit Product</h4>
                    <div class="row">
                        <div class="col-md-8">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Item_ID)
                           
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Product ID</label>
                                            @Html.EditorFor(model => model.Item_ID, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Product Name</label>
                                            @Html.EditorFor(model => model.Item_Name, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Item_Name, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <div class="form-group  label-floating">
                                                <label class="control-label">Description</label>

                                                @Html.TextAreaFor(model => model.Description, rows: 5, columns: 50, htmlAttributes: new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Unit of Measure</label>
                                            @Html.DropDownList("Unit", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Unit, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Category</label>
                                            @Html.DropDownList("Cat_ID", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Cat_ID, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <button type="submit" class="btn btn-primary pull-left"> <i class="material-icons">done</i>Save</button>
                                        <a class="btn btn-primary pull-right" href="/items">
                                            <i class="material-icons">keyboard_backspace</i>
                                            Back to List
                                        </a>
                                    </div>
                                </div>
                        </div>

                        <div class="col-md-4">
                            <h6>Product Image</h6>
                            <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                <div class="fileinput-new thumbnail">
                                    @if (!String.IsNullOrEmpty(Model.Photo))
    {
                                <img src="@Model.Photo" alt="..."/>

}
else
{
                                <img src="../../assets/img/image_placeholder.jpg" alt="...">
}                                    
                                </div>
                                <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                <div>
                                    <span class="btn btn-primary btn-round btn-file">
                                        <span class="fileinput-new">Select image</span>
                                        <span class="fileinput-exists">Change</span>
                                        <input type="file" name="file" id="file" />
                                    </span>
                                    <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
